* {
	font-family: 'Noto Sans KR', sans-serif;
}

.main-container {
    margin-top: 150px;
}

.menu-button {
    position: fixed;
    top: 30px;
    left: 40px;
    z-index: 1;
    cursor: pointer;
}

.menu-button a {
    font-size: 30px;
}

/* Menu Container */
.menu-container {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    z-index: 2;
    background-color: white;  
    transition: left 0.2s ease;
}

.menu-container a {
    display: flex;
    align-items: center;
    width: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    font-size: 18px;
    cursor: pointer;
}

.menu-container a:hover {
    background-color: #00000022;
}

.menu-container i {
    font-size: 30px;
}

.menu-open {
    left: 0;
}

.menu-list {
    position: absolute;
    top: 10px;
}

.menu-logout {
    padding-left: 1px;
}

.menu-contact {
    position: absolute;
    bottom: 10px;
}

.menu-contact a, .menu-contact a:hover {
    color: #222529;
    text-decoration: none;
}

.menu-contact i {
    padding-left: 4px;
}

.menu-background {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0,0,0,0.3);  
}

/* Content container */
.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 600px;
}

/* Logo */
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
}

.logo {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

/* New note container */
.new-note-container {
    width: 100%;
}

.new-note-box {
    display: flex;
    margin: 0 auto;
    border-radius: 25px;
    border: 2px solid #dcdcdc;
}

.note-text {
    width: 100%;
    padding: 8px 20px;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    overflow-y: hidden;
    min-height: 64px;
    max-height: 400px;
}

.note-text::-webkit-outer-spin-button,
.note-text::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.add-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
}

.add-button {
    height: 25px;
    cursor: pointer;
}

/* Sticky note container */
.sticky-notes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Sticky note styles */
.sticky-note {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF5AD;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.note-content {
    margin-top: 16px;
    margin: 15px;
    font-size: 16px;
    color: #333;
    overflow-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
}

.sticky-note:hover {
    background-color: #FFF5AD;
}

.remove-button {
    background: none;
    border: none;
    position: absolute;
    top: -13px;
    left: 190px;
    padding: 0;
    cursor: pointer;
}

.remove-button img {
    width: 20px;
    height: 20px;
    filter: grayscale(30%);
    transition: filter 0.3s;
}

.remove-button:hover img {
    filter: grayscale(10%);
}

.floating-button {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 30px;
	right: 30px;
    width: 60px;
	height: 60px;
	background-color: #0C9;
	color: #FFF;
    font-size: 30px;
	border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.floating-button:hover {
    box-shadow: 1px 1px 8px 1px #858585;
}

.float-icon {
    margin-left:1px;
    margin-bottom: 7px;
}

/* Notification banner */
.notification-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    z-index: 2;
    background-color: #4caf50; /* Green color */
    color: white;
    text-align: center;
    display: none;
    animation: slide-down-up 2s ease-in-out; /* Add animation */
}

.alert-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    z-index: 2;
    background-color: #ff4242; /* Red color */
    color: white;
    text-align: center;
    display: none;
    animation: slide-down-up 2s ease-in-out; /* Add animation */
}

.popup-container {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);  
    backdrop-filter: blur(5px); 
}

.popup {
    width:100%;
    max-width: 400px;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.popup-content {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    word-break: keep-all;
    border-bottom: 1px solid #00000022;
}

.desktop-content {
    display: block;
}

.mobile-content {
    display: none;
}

.popup-ok{
    width: 100%;
    height: 50px;
}

.popup-button {
    display:inline-flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    float: left;
    cursor: pointer; 
}

.popup-button.confirm {
    border-right: 1px solid #eaeaea;
}

.popup-button.confirm:hover {
    background-color: #ffcc0080;
}

.popup-button.close:hover {
    background-color: #00000022;
}

.fade-in {
    opacity: 0;
    animation: fade-in 0.3s ease-in forwards;
}

.fade-out {
    opacity: 1;
    animation: fade-out 0.3s ease-in forwards;
}

/* Mobile Layout */
@media (max-width: 992px) {
    .main-container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        height: 100dvh;
        margin-top: 0;
    }
    
    .content-container {
        width: 90%;
    }

    .menu-button {
        top: 10px;
        left: 15px;
    }

    .menu-container a {
        padding-left: 30px;
    }

    .menu-container a:hover {
        background-color: none;
    }

    .bar-container {
        position: relative;
        width: 95%;
        border-radius: 60px;
        border: 2px solid #dcdcdc;
    }

    .bar-container:hover {
        box-shadow: none;
    }

    .bar-text {
        margin-top: 1px;
        height: 42px;
        width: 75%;
        font-size: 17px;
    }


    .sticky-notes-container {
        position: relative;
        max-height: 55vh;
        overflow-x: hidden;
        overflow-y: auto;
        margin: 0 auto;
        margin-top: 30px;
    }

    .sticky-note {
        width: 140px;
        height: 140px;
    }

    .sticky-note:hover {
        background-color: #FFF5AD;
    }

    .note-content {
        -webkit-line-clamp: 6;
    }

    .remove-button {
        left: 130px;
    }

    .notification-banner,
    .alert-banner {
        font-size: 20px;
    }

    .popup {
        max-width: 300px;
    }

    .desktop-content {
        display: none;
    }

    .mobile-content {
        display: block;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {

    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes slide-down-up {
    0% {
        transform: translateY(-100%);
    }
    15%, 85% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}